# 
bin/Configuration/
bin/tempfiles/

BLASTDB
FASTADB

inputs/*
outputs/*

bin/*
!bin/rbhSearch.pl
!bin/rbhSearchForked.pl
!bin/conservationSearch_noDB.pl
!bin/utr_tool
bin/utr_tool/test_data

# ignore OSX crap
.DS_Store

# sublime
._*

# 
.Rhistory
