# 
bin/tempfiles/

BLASTDB
FASTADB

inputs/*
outputs/*

bin/*
!bin/rbhSearch.pl
!bin/rbhSearchForked.pl
!bin/conservationSearch_noDB.pl
!bin/conservationSearch_fasta_wBundling.pl
!bin/conservationSearch_cyverse.pl
!bin/conservationSearch_dataread_tester.pl
!bin/utr_tool
bin/utr_tool/test_data
!bin/Configuration

# ignore OSX crap
.DS_Store

# sublime
._*

# 
.Rhistory
